* {
	margin: 0; padding: 0;
} 
.menu-top nav, .menu-top .navbar-brand  {
	padding: 0;
}
nav.navbar.navbar-light.bg-faded.navbar-fixed-top {
    background-color: wheat;
}

a.nav-link {
    color: #000;
    line-height: 96px;
}

li.nav-item {
    padding: 0;
    margin-right: 34px;
}
li.nav-item:last-child {
    margin-right: 0;
}

@media (max-width: 576px) {
	a.navbar-brand {
	    text-align: center;
	    display: block;
	    width: 100%;
	}
	ul.nav.navbar-nav {
	    float: none !important;
	    padding: 5px 10px;
	    text-align: center;
	}
	li.nav-item {
	    margin: 0;
	    float: none !important;
	    display: inline-block;
	}
	a.nav-link {
	    line-height: 30px;
	}
}