* {
	margin: 0; padding: 0; box-sizing: border-box;
} 

.menu-top {
	position: sticky;
    top: 0;
    left: 0;
	z-index: 1000;
}
.menu-top nav, .menu-top .navbar-brand  {
	padding: 0;
}
nav.navbar.navbar-light.bg-faded {
    background-color: #e8a94d;
}

a.nav-link {
    color: #000;
    line-height: 96px;
}

li.nav-item {
    padding: 0;
    margin-right: 34px;
}
li.nav-item:last-child {
    margin-right: 0;
}

/* about me  */
.about-me-banner {
	position: relative;
    
}
.about-me-banner .myname-left {
	padding-top: 25%;

}
.about-me-banner .myname-left .m-l-fname {
	font-size: 60px;
	line-height: 60px;
}
.about-me-banner .myname-left .m-l-more {

}
.about-me-banner .myname-right img {
	width: 70%
}
#mouse {
	position: absolute;
    bottom: 20%;
    left: 30%;
    width: 35px;
    height: 55px;
    border: 1px solid #000;
    border-radius: 40px;
}
#mouse::after {
	content: "";
	position: absolute;
	top: 10px;
	left: calc(50% - 2px);
	border: 2px solid #000;
	height: 12px;
}
#mouse:hover {
    cursor: pointer;
}
/*.about-me::after {
	content: "";
    width: 100%;
    height: 0px;
    position: absolute;
    bottom: 0;
    background-color: #f3f3f3;
    border-right: 35vw solid yellow;
    border-left: 65vw solid yellow;
    border-top: 163px solid red;
    box-sizing: border-box;
} */

/* css resume */
p {
	color: #96a9a5;
}
p.title {
	color: #000;
}
.resume-bg {
	background-color: #f3f3f3;
}
.resume-part {
	padding-top: 8%;
	padding-bottom: 9%
}
.resume-bg.resume-part {
	padding-top: 12%;
	padding-bottom: 16%;
}
.resume-padding {
	padding: 0px 8%;
}
h1.resume-title {
	padding: 30px 0;
	text-align: center;
	text-transform: uppercase;
}
.resume-btn {
	margin: auto;
	padding: 20px 0;
}
.resume-btn a {
	display: block;
	padding: 15px 0;
	border: 1px solid #e8a94d;
	border-radius: 5px;
	color: #e8a94d;
	text-align: center;
	font-weight: bold;
	letter-spacing: 2px;
	word-spacing: 4px;
	text-transform: capitalize;
}
.resume-btn a:hover {
	color: #e8a94d;
	text-decoration: none;
}
.rp-distance {
	padding: 40px 0;
}
.img-fluid {
	position: absolute;
	bottom: 0;
	left: 0;
}


/* begin about-me */
.am-skills .am-s-items {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.am-skills .am-s-items i {
	padding: 20px;
}
.am-skills .am-s-items span {
	font-weight: bold;
}
/* end about-me */



/*begin work*/
#work, #profile {
	position: relative;
}
.work-list {
	position: relative;
}
.row.work-item {
	display: flex;
    height: 250px;
}
.work-item:last-child {
	height: fit-content;
}
.work-item.item-right {
	flex-direction: row-reverse;
}
.work-item .wi-img {
	width: 33%;
}
.work-item .wi-img img {
	width: calc(100% + 30px);
}
.work-item .wi-info {
	flex-shrink: 0;
}
.item-right .wi-info {
	text-align: right;
}
.wi-info {
    padding-top: 100px;
}
p.wi-i-title {
    color: #616161;
}
p.wi-i-detail {
    font-weight: bold;
    font-size: 25px;
    text-transform: capitalize;
    color: #000;
}
.item-right img {
	float: right;
}
.item-left .wi-info {
	text-align: left;
}
.item-left .fas.fa-caret-right {
	transform: rotateY(180deg);
}
.wl-btn-lm {
	width: 20%;
	position: absolute;
	bottom: 0;
	right: 20%;
}
.wl-btn-lm .resume-btn {
	padding: 0;
}
.img-fluid.if-reverse {
	position: absolute;
    top: 0;
    left: 0;
    transform: rotate(180deg);
}
/*end work*/


/*begin work-flow*/
.wf-step .wf-cover {
	position: relative;
	padding: 0;
	display: flex;
    justify-content: center;
    align-items: center;
}
.wf-step .wf-text {
    position: relative;
    z-index: 2;
    background-color: #f3f3f3;
    padding: 20px;
    border-radius: 5px;
}
.wf-text .wf-i {
	color: #e8a94d; /*#f3a210*/
}
.wf-text .wf-s-name {
	font-weight: bold;
    font-size: 20px;
    color: #000;
}
.wf-text p {
	margin: 0;
}
.wf-step .wf-img {
	padding: 20px 0;
	position: relative;
}
.wf-img img {
    margin: 30px auto;
    display: block;
    width: 50%;
}
.wf-img .wf-path {
	position: absolute;
    bottom: 0;
    left: -20px;
    width: calc(100% + 40px);
    margin: 0;
    padding: 0;
    transform: translate(0, 50%);
}
.wf-step:nth-child(odd) .wf-text {
	text-align: right;
}
.wf-step:nth-child(even) {
	flex-direction: row-reverse;
}
.wf-step:nth-child(even) .wf-path {
	transform: rotateY(180deg) translate(0,50%)
}
.wf-step:last-child .wf-path {
	display: none;
}
/*end work-flow*/

/*begin profile*/
.p-skills .fas {
	color: #e8a94d;	
    margin-bottom: 20px;
}
.ps-title {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 25px;
}
.ps-award {
    margin-bottom: 25px;
}
.ps-award .ps-a-name {
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 2px;
    margin: 0;
}
.ps-title, .ps-award .ps-a-name {
	color: #000;
}
p.ps-a-detail {
    font-size: 14px;
}
/*end profile*/

/*begin contact*/
div#contact {
    text-align: center;
    padding-top: 8%;
    padding-bottom: 30px;
}
h2.c-email, h2.c-phone {
    margin: 30px 0;
}
h2.c-email {
    text-decoration: underline 2px #1d1d1d;
}
.c-social {
    margin: 60px 0;
}
i.cs-icon {
    margin: 20px;
    font-size: 25px;
}
#contact hr {
    width: 30px;
    display: inline-block;
    border-color: #000;
}
/*end contact*/



@media (max-width: 576px) {
	a.navbar-brand {
	    text-align: center;
	    display: block;
	    width: 100%;
	}
	ul.nav.navbar-nav {
	    float: none !important;
	    padding: 5px 10px;
	    text-align: center;
	}
	li.nav-item {
	    margin: 0;
	    float: none !important;
	    display: inline-block;
	}
	a.nav-link {
	    line-height: 30px;
	}
}
/*823,1275x986,645*/